<div class="d-flex  justify-content-around pt-3 nav-bar nav2">
     <div><%= link_to "Arafat Akata", root_path %></div>
     <div><%= link_to "Portfolio", home_portfolio_path %></div>
     <div><%= link_to "About", home_about_path %></div>
     <div><%= link_to "Contact", home_contact_path %></div>
</div>





<div class="mobile-container ">

  <!-- Top Navigation Menu -->
  <div class="topnav">
    <%= link_to "Arafat Akata", root_path %>
    <div id="myLinks">
      <div><%= link_to "Portfolio", home_portfolio_path %></div>
      <div><%= link_to "About", home_about_path %></div>
      <div><%= link_to "Contact", home_contact_path %></div>
    </div>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i></a>
  </div>

 
</div>


